= render 'form'

- content_for :scripts do
  :javascript

    var poundWeight = "";

    debugger

    $('#weight').change(function() {
      var pounds = Math.floor(this.value/16)
      var ounces = this.value % 16

      poundWeight = pounds + ' lbs' + ounces + ' oz' 
    });

    $('.weight-value').text(poundWeight);
