.col-md-3
  .panel.panel-default
    .panel-heading
      %h4= @user.username
    .panel-body
      %strong Email Address
      %p= @user.email
.col-md-8
  .panel.panel-default
    .panel-heading
      %h4 Bets
    .panel-body
      .row
        %table.table.table-striped.table-hover
          %thead
            %tr.row
              %th.col-md-2 Topic
              %th.col-md-2 Value
              %th.col-md-2 Amount Owed
              %th.col-md-2 Actual Value
              %th.col-md-4 Actions
          %tbody.row
            = render @user.bets
